.App{
  display: flex;
  margin-top: 5rem;
  height: 30vh;
  align-items: center;

  justify-content: center;

}

form input{

 padding: 2%;
 margin: 2%;
}
.product-data{
  border: 2px solid black;
  margin-bottom: 2px;
  padding: 20px;
}
